# Dependency directories
node_modules/

# Dotenv environment variables file containing ACCOUNT_SID and AUTH_TOKEN
*.env

# Project config file containing serviceSid and latestBuild
.twilio-functions

# Build output
dist
